* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
body{
    width: 90%;
    max-width: 900px;
    margin: auto;
}
header, nav, article, footer{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
main {
    display: grid;
    grid-template-areas: 
    "h"
    "n"
    "a"
    "f"
    ;
}
header{
    grid-area: h;
}
nav {
    background-color: gray;
    grid-area: n;
}
article{
    grid-area: a;
}
footer{
    grid-area: f;
}
.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gray;
    
}
.menu li{
    list-style: none;

    
}
.menu a{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    
}
.kezdolap a {
    background-color: red;
    color: white;
    
}

.elsoresz img{
    width:100%; 
    height:auto;
    border: 1px solid rgb(0, 0, 0);
}
.masodikresz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
}
.masodikresz img{
    width:100%; 
    height:auto;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}
@media only screen and (max-width: 600px){
    main {
        font-size: 12px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f"

        ;
    }
    .masodikresz {
        grid-template-columns: 1fr;
        padding: 5px;

    }
    nav {
        padding: 0px;
    }
    .menu ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
     
        
    }
    .menu li{
        padding: 6px;
        border: solid 1px black;
    }
    .menu a{
        border:none;
        background-color: gray;
        color:white;
    }

}